[submodule "riscv-binutils"]
	path = riscv-binutils
	url = https://github.com/patricoferris/riscv-binutils-gdb.git
	branch = caml-is-int
[submodule "riscv-gcc"]
	path = riscv-gcc
	url = ../riscv-gcc.git
[submodule "riscv-glibc"]
	path = riscv-glibc
	url = ../riscv-glibc.git
[submodule "riscv-dejagnu"]
	path = riscv-dejagnu
	url = ../riscv-dejagnu.git
[submodule "riscv-newlib"]
	path = riscv-newlib
	url = ../riscv-newlib.git
[submodule "riscv-gdb"]
	path = riscv-gdb
	url = https://github.com/patricoferris/riscv-binutils-gdb.git
	branch = caml-is-int
[submodule "qemu"]
	path = qemu
	url = https://git.qemu.org/git/qemu.git
